
.normal-card{
  /* box-sizing: border-box; */
  color:white;
  font-family: 'Special Elite', cursive;
  height:250px;
  width:250px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  /* text-align:center; */
  cursor: pointer;
  color:rgba(255, 255, 255, 0.74);
  border:1px solid grey;
  z-index: 1;
  position:relative;
}

.normal-card:hover{
    box-shadow:0px 10px 30px rgba(255,255,255, 0.25)

}

.normal-card-tech{
    /* margin-left:auto; */
    display:flex;
    flex-direction:column;
    overflow:auto;
    width:50%;
    align-self: flex-end;
    text-align:right;
    margin:15px 15px 0 0;
    font-size:.75rem;
    z-index: 2;
    /* position: absolute; */
    /* border:1px solid blue; */
  }
  
  .html{
    color:rgb(88, 88, 224);
  }
  
  .css{
    color:rgb(226, 26, 226);
  }
  
  .javascript{
    color:rgb(194, 194, 52);
  }
  
  .react{
    color: rgb(33, 170, 33)
  }
  
  .solidity{
    color:rgb(18, 208, 233)
  }

  .rust{
    color:rgba(255, 102, 0, 0.822);
  }

  .node{
    color:pink;
  }

  .express{
    color:red;
  }

  .mongoDB{
    color:lightsalmon;
  }

  .normal-card-title{
    color:rgba(255, 255, 255, 0.562);
    font-family: 'Special Elite', cursive;
    font-size: 1.25rem;
    margin-bottom:30px;
    justify-self: flex-end;
    text-align:center;
    padding:15px;
    z-index: 2;
  }

  .thumb-image{
    width:200px;
    height:200px;
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    /* top: 50%;
    transform: translate(0%, -50%); */
    opacity: .6;
    z-index: 0;
    object-fit: cover;
  }

  .expandedCard{
    /* color: white; */
    /* height:90%; */
    width:90%;
    border:1px solid red;
    display:flex;
    flex-direction:column;
    position:fixed;
    top:20px;
    bottom:20px;
    min-height:90vh;
    /* position:absolute; */
    /* margin:0 auto; */
    /* left:5%; */
    /* top:50%; */
    /* transform: translate(-50%, -50%); */
    z-index:2;
    background-color:rgb(0, 0, 0);
    overflow-y:scroll;
  }

  .expanded-card-title{
    color:rgba(255, 255, 255, 0.562);
    font-family: 'Special Elite', cursive;
    font-size:3rem;
    padding:.5em 0 .5em 0;
  }

  .expanded-card-tech{
    display:flex;
    flex-direction:column;
    /* overflow:auto; */
    width:50%;
    align-self: flex-end;
    text-align:right;
    margin:15px 30px 0 0;
    font-family: 'Special Elite', cursive;
    font-size:1.15rem;
    z-index: 2;
 
  }

  .main-content-container{
    display:flex;
    align-items:center;
    /* border:1px solid green; */
  }

  .description{
    color:white;
    font-family: sans-serif;
    font-size: 1.25rem;
    padding:1.5em;
    line-height:1.4em;
    min-width:50%;
    /* text-align:left; */
  }

  .card-image-container{
    /* width:50%; */
    /* aspect-ratio: 1 / 1; */
    padding:1.5em;
    /* border:1px solid red; */
  }

  .card-image{
    width:100%;
  }

  .btn-close{
    /* position:absolute;
    top:20px;
    right:30px; */
    align-self: flex-end;
    padding:1.85em;
    cursor: pointer;
    background:none;
    outline:none;
    border:none;
  }


  .btn-close:hover{
    transform:scale(1.25);
  }

  .btn-image{
    width:30px;
    height:35px;
  }
  
  .links{
    display:flex;
    padding:2em;
    justify-content:space-around;
    /* border:1px solid green; */

  }
  
  .links > a {
    font-family: 'Special Elite', cursive;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.562);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.75em;
  }
  
  .live-site-link{
    font-family: 'Special Elite', cursive;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.562);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.75em;

  }

  a:hover{
    transform:scale(1.2);
    color:#83B6CB;
  }

  .site-link-container{
    position: relative;
  }

  .metamask{
    position:absolute;
    bottom: 10;
    left:0;
    display: flex;
    align-items:center;
  }

  .metamask-text{
    color:rgb(245, 166, 48);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
  }